@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

// --------------------------
// VARIABLES
// --------------------------
$maincolor: rgb(133, 3, 3);
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

@mixin background-i {
  background-image: url(./public/images/webpage-background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;

}



// --------------------------
// Header
// --------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;



  a {
    @include white-text-black-bg;
    text-decoration: none;

    div {
      margin: 10px;
      font-size: large;
    }
  }
}

.driver a{ 
  text-decoration: none;
  color: greenyellow;
}

.driver a:visited{ 
  color: red;
}

.driver a:hover{ 
  color: yellow;
}
.driver { 
 display:inline-block;
 flex-direction: row;
 border-style: solid;
 border-color: crimson;
 background-color: rgba(0, 0, 0, 0.7);
 padding: 5px;
 color: white;
}

.nav{ 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

section, 
dev { 
  form { 
    input { 
      @include white-text-black-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;
     

      &[type="submit"]:hover { 
        @include black-test-white-bg;
        font-family: 'Titillium Web', sans-serif;
      }
    }
  }
}

button#delete { 
  @include white-text-black-bg;
  display: block;
  margin: auto;
  font-size: 1.3em;
  padding: 10px;
  font-family: 'Titillium Web', sans-serif;
}

main { 
  font-family: 'Titillium Web', sans-serif;
  @include background-i;
 }

//  footer { 
//    display: flex;
//    flex-direction: column;
//    flex-grow: 1;
//    padding-top: 10px;
//  }

.footer-contain { 
  padding-top: 1rem;
  }

 .person { 
   color: white;
   padding: 10px;
   font-size: 1.1em;
   margin: 10px;
 }



 .carousel { 
   width: 900px;
   height: 500px;
   margin: auto;
   display: block;
   padding: 1rem;
 }